.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  display: block;
  width: 100px;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form__button {
  border-radius: 4px;
  width: 100%;
  border: none;
  padding: 20px 0;
  margin-bottom: 32px;
  background-color: #187adc;
  color: #fff;
  cursor: pointer;
  transition: bacground-color 8.5s;
}

.form__button-hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
}
